.body {
  background: url(../front-end/img/background_img.png) no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  place-content: center;
  .area_login {
    align-self: center;
    .campo_login {
      width: 450px;
      height: 600px;
      border-radius: 130px;
      background-color: $bg-color;
      opacity: 90%;
      border: 3px solid $primary-color;
      p {
        color: $primary-color;
        @include fontes(20);
      }
      a {
        display: flex;
        @include fontes(16.1);
      }
      .foto_login {
        width: 140px;
        height: 140px;
        margin: 100px auto 80px auto;
        border: 3px solid $primary-color;
        border-radius: 130px;
        background: url(..//front-end/img/user_img.png);
      }
      .texto_login1 {
        p {
          display: none;
        }
        @keyframes pisca {
          0% {
            opacity: 0.2;
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0.2;
          }
        }
        .pisca {
          animation-name: pisca;
          animation-duration: 1.2s;
          animation-iteration-count: infinite;
        }
      }
      .btn_login {
        display: flex;
        place-content: center;
        width: 300px;
        height: 60px;
        opacity: 90%;
        margin: 60px auto 40px auto;
        background: $bg-color;
        border-radius: 30px;
        border: 3px solid $primary-color;
        cursor: pointer;
        label {
          width: 100%;
          color: $primary-color;
          cursor: pointer;
          text-align: center;
          @include fontes(16);
        }
      }
      .btn_login:hover {
        border-color: $textColor1;
        transition: 0.3s;
      }
      .btn_login:hover label {
        color: $textColor1;
        transition: 0.3s;
      }
      .autentica {
        text-decoration: underline;
      }
      .autentica:hover {
        color: $textColor1;
        transition: 0.3s;
      }
    }
  }
}
