header {
  background: $bg-header;
  .header {
    display: flex;
    align-items: center;
    padding: 15px 0;
    &__logo {
      color: $textColor1;
      h1 {
        text-transform: uppercase;
        @include fontes(24);
        span {
          @include fontes(38);
        }
      }
    }
    &__user {
      display: flex;
      align-items: center;
      img {
        height: 70px;
        width: 70px;
      }
      span {
        padding-left: 15px;
        color: $textColor1;
      }
    }
  }
}

main {
  background: url(../front-end/img/bg_user1.png) no-repeat;
  background-size: cover;
  display: flex;
  height: 89.7vh;
  place-content: center;
  .user1__pesquisa {
    margin-top: 80px;
    width: 1090px;
    height: 700px;
    background: rgba(36, 36, 36, 0.8);
    border: 4px solid #000000;
    box-sizing: border-box;
    border-radius: 130px;
    .user1__form {
      padding-top: 110px;
      form {
        display: flex;
        justify-content: space-between;
        padding: 0 0 30px 90px;
        width: 954px;
        text-align: center;
        color: $textColor1;
        @include fontes(20);
        label {
          @include fontes(38);
        }
        select {
          width: 580px;
          height: 50px;
          background: #ffffff;
          border: 3px solid #28922c;
          box-sizing: border-box;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
        }
      }
      .check {
        display: flex;
        justify-content: normal !important;
        &__conteudo {
          padding-left: 175px;
          &__item {
            display: inline;
            input {
              background: #FFFFFF;
              border: 3px solid #28922C;
              box-sizing: border-box;
              width: 50px;
              height: 25px;
            }
            
          }
        }
      }
    }
    .user1__btn {
      padding-left: 628px;
      .user1__btn__search {
        width: 327px;
        height: 40px;
        background: #ffffff;
        border: 3px solid #28922c;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        align-items: center;
      }
    }
    
  }
  
}

.user3 {
  background: url(../front-end/img/bg_user1.png) no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  place-content: center;
  .user1__pesquisa {
    margin-top: 80px;
    width: 1090px;
    height: 800px;
    background: rgba(36, 36, 36, 0.8);
    border: 4px solid #000000;
    box-sizing: border-box;
    border-radius: 130px;
    .user1__form {
      padding-top: 110px;
      form {
        display: flex;
        justify-content: space-between;
        padding: 0 0 30px 90px;
        width: 954px;
        text-align: center;
        color: $textColor1;
        @include fontes(20);
        label {
          @include fontes(38);
        }
        select {
          width: 580px;
          height: 50px;
          background: #ffffff;
          border: 3px solid #28922c;
          box-sizing: border-box;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
        }
      }
      .check {
        display: flex;
        justify-content: normal !important;
        &__conteudo {
          padding-left: 175px;
          &__item {
            display: inline;
            input {
              background: #FFFFFF;
              border: 3px solid #28922C;
              box-sizing: border-box;
              width: 50px;
              height: 25px;
            }
            
          }
        }
      }
      .check {
        display: flex;
        justify-content: normal !important;
        &__agro{
          padding-left: 140px;
          &__item{
            display: inline;
            input {
              background: #FFFFFF;
              border: 3px solid #28922C;
              box-sizing: border-box;
              width: 50px;
              height: 25px;
            }
          }
        }
      }
    }
    .user1__btn {
      padding-left: 628px;
      .user1__btn__search {
        width: 327px;
        height: 40px;
        background: #ffffff;
        border: 3px solid #28922c;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        align-items: center;
      }
    }
    
  }
  
}

#modal-mensagem {
  .modal-header {
    border: none;
    button {
      border-radius: 4px;
      width: 50px;
      font-size: 20px;
      font-weight: bold;
      background: #fff;
    }
  }
  .modal-content {
    border-radius: 30px;
    background: $primary-color;
    width: 200%;
    .modal-body {
      
      .table {
        color: #fff;
        border: 1px solid black;
        thead {
          border: 1px solid black;
          tr {
            th {
              text-align: center;
              padding: 10px;
              border: 1px solid black;
              @include fontes(38.1);
            }
          }
        }
        tbody {
          tr {
            td {
              text-align: center;
              border: 1px solid black;
              @include fontes(24);
            }
          }
        }
      }
    }
    .modal-footer {
      border: none;
      button {
        background: #fff;
        border-radius: 4px;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

.section__two {
  display: inline-block;
}


.check {
  display: inline-block;
}